#target {
  width: 100px;
}

header {
  width: 400px;
  font-weight: 100;
}

header > div {
  text-align: center;
  padding: 0.5em 0 0.5em 0;
}

#animatable-animation {
  background-color: lightgrey;
}

main {
  margin-top: 32px;
}

#results {
  display: inline-block;
}

.result {
  font-weight: 100;
  border-bottom: 1px solid white;
  background-color: #ddd;
}

.result:nth-child(even) {
  background-color: #eee;
}

#discrete-animation,
.result.discrete {
  background: linear-gradient(to bottom, #fff5d3 0%,#ffeeba 100%);
}

#full-animation,
.result.animated {
  background: linear-gradient(to bottom, #c9fcd4 0%,#aef9bd 100%);
}

.result:first-child {
  background-color: pink;
  font-weight: bold;
}

.result.error {
  background-color: red;
}

.cell {
  display: inline-block;
  text-align: center;
  border-left: 1px solid white;
  padding-top: 1em;
  padding-bottom: 1em;
}

.cell:first-child {
  border: none;
}

.cell.property {
  width: 400px;
}

#animatable-animation:before,
.cell.property.animatable:before {
  content: "✔️";
  color: green;
  margin-right: 0.3em;
}

.cell.value {
  width: 150px;
}

.cell.error {
  width: 450px;
}
