/*
#target {
  width: 100px;
}

header {
  width: 400px;
  font-weight: 100;
}

header > div {
  text-align: center;
  padding: 0.5em 0 0.5em 0;
}

#animatable-animation {
  background-color: lightgrey;
}

main {
  margin-top: 32px;
}

#results {
  display: inline-block;
}

.result {
  font-weight: 100;
  border-bottom: 1px solid white;
  background-color: #ddd;
}

.result:nth-child(even) {
  background-color: #eee;
}

#discrete-animation,
.result.discrete {
  background: linear-gradient(to bottom, #fff5d3 0%,#ffeeba 100%);
}

#full-animation,
.result.animated {
  background: linear-gradient(to bottom, #c9fcd4 0%,#aef9bd 100%);
}

.result:first-child {
  background-color: pink;
  font-weight: bold;
}

.result.error {
  background-color: red;
}

.cell {
  display: inline-block;
  text-align: center;
  border-left: 1px solid white;
  padding-top: 1em;
  padding-bottom: 1em;
}

.cell:first-child {
  border: none;
}

.cell.property {
  width: 400px;
}

#animatable-animation:before,
.cell.property.animatable:before {
  content: "✔️";
  color: green;
  margin-right: 0.3em;
}

.cell.value {
  width: 150px;
}

.cell.error {
  width: 450px;
}

*/
main {
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

li:first-child dd {
  border-top-width: 1px;
}

.dl {
  word-wrap: normal;
}

dd {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-right: 1px;
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 1px;
  padding: 0.5em 0 0.5em 0;
  font-family: monospace;
}

dd:last-child {
  border-right-width: 1px;
}

.result .animatable {
  padding-top: 0;
  text-align: right;
  vertical-align: top;
}

.animatable {
  width: 9em;
  border: none;
}

.property {
  width: 22em;
}

.testcase {
  width: 20em;
}

.result0,
.result50,
.result100 {
  width: 10em;
}

.error-result {
  width: calc(30em + 2px); /* 2px is border of other one */
}

.link {
  display: inline-block;
  border: 1px solid black;
  text-decoration: none;
  font-weight: 100;
}

.animatable-spec {
  color: white;
  background: linear-gradient(to bottom, #1e90ff 0%,#1369a8 100%);
}

.css-transition-spec {
  margin-bottom: 1px;
  color: white;
  background: linear-gradient(to bottom, #ff8800 0%,#d55b09 100%);
}

.datatype {
  color: black;
  background-color: #eee;
}

.spec {
  text-decoration: none;
  color: black;
}

.result:nth-child(odd) dd:nth-child(n + 2) {
  background: linear-gradient(to bottom, #eee 0%,#e0e0e0 100%);
}

.result:nth-child(even) dd:nth-child(n + 2) {
  background: linear-gradient(to bottom, #ccc 0%,#c0c0c0 100%);
}

.result.animated dd:nth-child(n + 2) {
  background: linear-gradient(to bottom, #c9fcd4 0%,#aef9bd 100%);
}

.result.discrete dd:nth-child(n + 2) {
  background: linear-gradient(to bottom, #fff5d3 0%,#ffeeba 100%);
}

.result.error dd:nth-child(n + 2) {
  background: linear-gradient(to bottom, #ff3333 0%,#ff1111 100%);
}